* {
  padding: 0;
  margin: 0;
  --light-text: #ebe0da;
  --main-color: #ecc7b7;
  --accent-color: #ab3b61;
  --accent-yellow: #f6c608;
  --dark-text: #03546f;
  --accent-orange: #fa8735;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--main-color);
  /* background-image: url("./images/pexels-lumn-399161.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;

  background-position: top; */
}

#mainContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

/* NAVIGATION BAR */
nav {
  padding: 5px 5px;
  height: 8vh;
  width: 75vw;
  order: 2;
  /* border-bottom: solid #e0a98f 2px; */
}

#navContainer {
  background-color: var(--main-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Flex box containing Nav Li */
#navLiContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 50px;
}
.navDiv {
  background-color: var(--main-color);
  color: var(--dark-text);
  position: relative;
  text-align: center;
  padding: 10px 50px;
  /* font-size: large; */
  border-bottom: #e0a98f 0.05rem solid;
  flex: auto;
}

.navDiv:hover {
  background-color: #e5b59f;
  color: var(--dark-text);
  border: #e0a98f 0.05rem solid;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

/* throwaway css */
/* #navHeader {
  color: var(--dark-text);
  /* font-weight: bolder; */

/* NavDiv Cloud CSS */
/* .cloud {
 
  text-align: center;
  margin-top: 70px;
  width: 200px;
  height: 100px;
  background: #eceff1;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}
.cloud::after,
.cloud::before {
  font-weight: bold;
  color: navy;
  content: "hello";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}
.cloud::after {
  width: 110px;
  height: 100px;
  top: -115px;
  left: -145px;
}
.cloud::before {
  width: 180px;
  height: 180px;
  top: -70px;
  left: 130px;
} */

/* MAIN CONTENT */
main {
  height: 70vh;
  width: 50vw;
  /* background-color: var(--main-color); */
  order: 1;
}

#firstName {
  color: #d07694;
  text-align: left;
  font-weight: bold;
  font-size: 500%;
  font-style: italic;
  text-shadow: 4px 3px var(--accent-color);
  margin-bottom: -55px;
}

#lastName {
  text-align: left;
  margin-left: 40px;
  color: #d07694;
  font-weight: bold;
  font-size: 500%;
  font-style: italic;
  text-shadow: 4px 3px var(--accent-color);
}

.content {
  background-color: var(--light-text);
  text-align: center;
}
